/* ------------------------------------------------------------ */
/*                           FONT FACE                          */
/* ------------------------------------------------------------ */

/* rubik-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300;
    src: url("../assets/fonts/rubik-v31-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rubik-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/rubik-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rubik-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/rubik-v31-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ------------------------------------------------------------ */
/*                       CUSTOM PROPERTIES                      */
/* ------------------------------------------------------------ */

:root {
    /* Primary colors */
    --clr-purple-600: 246 80% 60%;
    --clr-orange-300: 15 100% 70%; /* work */
    --clr-blue-300: 195 74% 62%; /* play */
    --clr-pink-400: 348 100% 68%; /* study */
    --clr-green-400: 145 58% 55%; /* exercise */
    --clr-purple-700: 264 64% 52%; /* social */
    --clr-yellow-300: 43 84% 65%; /* self care */

    /* Neutral colors */
    --clr-navy-950: 226 43% 10%;
    --clr-navy-900: 235 46% 20%;
    --clr-purple-500: 235 45% 61%;
    --clr-navy-200: 236 100% 87%;
    --clr-white: 0 0% 100%;

    /* Font families */
    --ff-sans-serif: "Rubik", sans-serif;

    /* Font sizes */
    --fs-100: 0.75rem;
    --fs-200: 0.875rem;
    --fs-300: 1rem;
    --fs-400: 1.2rem;
    --fs-500: 1.6rem;

    /* Font weights */
    --fw-thin: 300;
    --fw-regular: 400;
    --fw-bold: 500;

    @media screen and (min-width: 50rem) {
        --fs-400: 2rem;
        --fs-500: 2.5rem;
    }
}

/* ------------------------------------------------------------ */
/*                            RESETS                            */
/* ------------------------------------------------------------ */

/* Box sizing rules */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
picture,
figure,
blockquote,
dl,
dd,
fieldset {
    margin: 0;
    padding: 0;
}

/* Sets a global font weight */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* Makes images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Set larger line heights on paragraph elements */
p {
    line-height: 1.5;
}

/* Makes it easy to work with radio buttons */
input {
    margin: 0;
    padding: 0;
}

/* Button rules */
button {
    cursor: pointer;
    background: none;
    border: 0;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a {
    text-decoration: none;
    color: currentColor;
}

/* Removes default border */
fieldset {
    border: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

/* Makes textarea easy to work with */

textarea {
    resize: none;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* Remove animations for people who've turned them off */
/* stylelint-disable declaration-no-important */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
/* stylelint-enable declaration-no-important */

/* ------------------------------------------------------------ */
/*                        UTILITY CLASSES                       */
/* ------------------------------------------------------------ */

/* Colors */

.bg-purple-600 {
    background-color: hsl(var(--clr-purple-600));
}

.bg-navy-900 {
    background-color: hsl(var(--clr-navy-900));
}

.bg-navy-950 {
    background-color: hsl(var(--clr-navy-950));
}

.text-navy-200 {
    color: hsl(var(--clr-navy-200));
}

.text-purple-500 {
    color: hsl(var(--clr-purple-500));
}

.text-white {
    color: hsl(var(--clr-white));
}

/* General */

.d-block {
    display: block;
}

.flow > * + * {
    margin-block-start: var(--flow-space, 1rem);
}

.flex {
    display: flex;
    gap: var(--gap-row, 1rem) var(--gap-col, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap-row, 1rem) var(--gap-col, 1rem);
}

.max-w-container {
    max-width: 61.5rem;
}

.sr-only {
    position: absolute;
    width: 0.0625rem;
    height: 0.0625rem;
    padding: 0;
    margin: -0.0625rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Typography */

.fs-100 {
    font-size: var(--fs-100);
}

.fs-200 {
    font-size: var(--fs-200);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fw-thin {
    font-weight: var(--fw-thin);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

/* ------------------------------------------------------------ */
/*                          COMPONENTS                          */
/* ------------------------------------------------------------ */

body {
    min-height: 100vh;
    font-family: var(--ff-sans-serif);
    font-optical-sizing: auto;
    align-items: center;
}

.container {
    padding-inline: 3rem;
    padding-block: 4rem;
    margin-inline: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "list";

    @media screen and (min-width: 50rem) {
        grid-template-columns: 12.8125rem 1fr;
        grid-template-areas: "header list";
    }
}

.header {
    grid-area: header;
    overflow: hidden;
    border-radius: 0.9375rem;
}

.header__container {
    --gap-col: 1.1rem;
    align-items: center;
    padding-inline: 1.65rem;
    padding-block: 1.8rem;
    border-bottom-left-radius: 0.9375rem;
    border-bottom-right-radius: 0.9375rem;

    @media screen and (min-width: 50rem) {
        --gap-row: 2rem;
        flex-direction: column;
        align-items: flex-start;
        padding-block-end: 3.5rem;
    }
}

.header__avatar {
    border-radius: 50%;
    width: 3.125rem;
    outline: 0.1875rem solid hsl(var(--clr-white));

    @media screen and (min-width: 50rem) {
        width: 4.0625rem;
    }
}

.header__heading {
    flex-direction: column;
    --gap-row: 0.25rem;
}

.header__link-list {
    align-items: center;
    justify-content: space-between;
    padding-block: 1.1rem;
    padding-inline: 1.65rem;

    @media screen and (min-width: 50rem) {
        --gap-row: 1rem;
        flex-direction: column;
        align-items: flex-start;
        padding-block: 1.18rem;
    }
}

.header__link {
    outline: 0;
    text-underline-offset: 0.1875rem;
    text-decoration-style: dotted;
    text-decoration-color: hsl(var(--clr-white));
    transition: color 500ms ease-in-out;

    &:hover {
        color: hsl(var(--clr-white));
    }

    &:focus-visible {
        color: hsl(var(--clr-white));
        text-decoration-line: underline;
    }

    @supports not selector(:focus-visible) {
        &:focus {
            color: hsl(var(--clr-white));
            text-decoration-line: underline;
        }
    }
}

.header__link--active {
    color: hsl(var(--clr-white));
}

.cards-list {
    grid-area: list;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.8125rem, 1fr));
}

.list__card {
    --gap-row: 0;
    border-radius: 0.9375rem;
    overflow: hidden;
}

.card__top {
    min-height: 3.125rem;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: 90% center;
}

.card__top--work {
    background-color: hsl(var(--clr-orange-300));
    background-image: url("../assets/images/icon-work.svg");
}

.card__top--play {
    background-color: hsl(var(--clr-blue-300));
    background-image: url("../assets/images/icon-play.svg");
}

.card__top--study {
    background-color: hsl(var(--clr-pink-400));
    background-image: url("../assets/images/icon-study.svg");
}

.card__top--exercise {
    background-color: hsl(var(--clr-green-400));
    background-image: url("../assets/images/icon-exercise.svg");
}

.card__top--social {
    background-color: hsl(var(--clr-purple-700));
    background-image: url("../assets/images/icon-social.svg");
}

.card__top--self-care {
    background-color: hsl(var(--clr-yellow-300));
    background-image: url("../assets/images/icon-self-care.svg");
}

.card__bottom {
    cursor: pointer;
    overflow: hidden;
    margin-block-start: -1.125rem;
    border-top-left-radius: 0.9375rem;
    border-top-right-radius: 0.9375rem;
    z-index: 1;
    transition: background-color 500ms ease-in-out;

    &:hover {
        background-color: hsl(236 37% 32%);
    }
}

.card__header {
    padding-inline: 1.35rem;
    padding-block-start: 1.5rem;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 50rem) {
        padding-block-end: 1rem;
    }
}

.header__icon {
    fill: hsl(235 100% 87%);
    transition: fill 500ms ease-in-out;

    &:hover {
        fill: hsl(var(--clr-white));
    }
}

.card__time-container {
    padding-block-end: 1.1rem;
    padding-inline: 1.35rem;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 50rem) {
        flex-direction: column;
        align-items: flex-start;
    }
}
