/* ------------------------------------------------------------ */
/*                           FONT FACE                          */
/* ------------------------------------------------------------ */

/* league-spartan-regular - latin */
@font-face {
    font-display: swap;
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/league-spartan-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* league-spartan-500 - latin */
@font-face {
    font-display: swap;
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/league-spartan-v15-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* league-spartan-700 - latin */
@font-face {
    font-display: swap;
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/league-spartan-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ------------------------------------------------------------ */
/*                       CUSTOM PROPERTIES                      */
/* ------------------------------------------------------------ */

:root {
    /* Primary colors */
    --clr-dark-magenta: 300 43% 22%;
    --clr-soft-pink: 333 80% 67%;

    /* Neutral colors */
    --clr-dark-gray-magenta: 303 10% 53%;
    --clr-light-gray-magenta: 300 24% 96%;
    --clr-white: 0 0% 100%;

    /* Font weights */
    --fw-regular: 400;
    --fw-mid: 500;
    --fw-bold: 700;

    /* Font families */
    --ff-sans-serif: "League Spartan", sans-serif;
}

/* ------------------------------------------------------------ */
/*                            RESETS                            */
/* ------------------------------------------------------------ */

/* Box sizing rules */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
picture,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

/* Sets a global font weight */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* Makes images easier to work with */
img,
picture {
    width: 100%;
    display: block;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Button rules */
button {
    cursor: pointer;
    background: none;
    border: 0;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a {
    text-decoration: none;
    color: currentColor;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* Remove animations for people who've turned them off */
/* stylelint-disable declaration-no-important */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
/* stylelint-enable declaration-no-important */

/* ------------------------------------------------------------ */
/*                        UTILITY CLASSES                       */
/* ------------------------------------------------------------ */

/* General */

.container {
    max-width: 82.5rem;
    margin-inline: auto;
    padding-inline: 2.5rem;

    @media screen and (min-width: 48rem) {
        padding-inline: 6rem;
    }
}

.grid {
    display: grid;
    gap: var(--gap-row, 1rem) var(--gap-col, 1rem);
}

.flex {
    display: flex;
    gap: var(--gap-row, 1rem) var(--gap-col, 1rem);
}

.flow > * + * {
    margin-block-start: var(--flow-space, 1rem);
}

.translate-x-1 {
    @media screen and (min-width: 68.75rem) {
        transform: translateX(-3rem);
    }
}

.translate-x-2 {
    @media screen and (min-width: 68.75rem) {
        transform: translateX(-6rem);
    }
}

.translate-y-1 {
    @media screen and (min-width: 68.75rem) {
        transform: translateY(1rem);
    }
}

.translate-y-2 {
    @media screen and (min-width: 68.75rem) {
        transform: translateY(2rem);
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Colors */

.bg-dark-magenta {
    background-color: hsl(var(--clr-dark-magenta));
}

.bg-light-gray-magenta {
    background-color: hsl(var(--clr-light-gray-magenta));
}

.text-dark-magenta {
    color: hsl(var(--clr-dark-magenta));
}

.text-dark-gray-magenta {
    color: hsl(var(--clr-dark-gray-magenta));
}

.text-light-gray-magenta {
    color: hsl(var(--clr-light-gray-magenta));
}

.text-soft-pink {
    color: hsl(var(--clr-soft-pink));
}

/* Typography */

.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-mid {
    font-weight: var(--fw-mid);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.letter-spacing-1 {
    letter-spacing: -0.0625rem;
}

.text-center {
    text-align: center;
}

/* ------------------------------------------------------------ */
/*                          COMPONENTS                          */
/* ------------------------------------------------------------ */

body {
    min-height: 100vh;
    line-height: 1.5;
    font-family: var(--ff-sans-serif);
    font-optical-sizing: auto;

    background-position:
        left top,
        right center;
    background-repeat: no-repeat, no-repeat;
    background-image:
        url("./assets/images/bg-pattern-top-mobile.svg"),
        url("./assets/images/bg-pattern-bottom-mobile.svg");

    @media screen and (min-width: 48rem) {
        background-image:
            url("./assets/images/bg-pattern-top-desktop.svg"),
            url("./assets/images/bg-pattern-bottom-desktop.svg");
    }
}

.main {
    padding-block: 4rem;
    --gap-row: 3.5rem;

    @media screen and (min-width: 48rem) {
        padding-block: 5rem;
        --gap-row: 5rem;
    }
}

.main__container {
    --gap-row: 2.5rem;

    @media screen and (min-width: 48rem) {
        justify-content: space-between;
        align-items: center;
        grid-template-columns: minmax(0, 25rem) minmax(0, 25rem);
    }
}

.intro-section {
    justify-items: center;
    --gap-row: 1.5rem;
}

.intro-section__title {
    max-width: 94%;
    line-height: 0.8;
    font-size: clamp(2.5rem, 5vw, 3rem);
    text-align: center;

    @media screen and (min-width: 48rem) {
        text-align: left;
        justify-self: start;
    }
}

.intro-section__description {
    line-height: 1.3;

    @media screen and (min-width: 48rem) {
        text-align: left;
    }
}

.review-section__list {
    --gap-row: 1rem;
}

.review-section__item {
    padding-block: 0.75rem;
    padding-inline: 1.5rem 0.5rem;
    border-radius: 0.4rem;
    --gap-row: 0.5rem;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    @media screen and (min-width: 48rem) {
        --gap-col: 1.5rem;
        flex-direction: row;
    }
}

.review-section__stars {
    justify-content: center;
    margin-block: auto;
    --gap-col: 0.3rem;
}

.review-section__star {
    width: 0.8rem;
    height: 0.8rem;
}

.testimonials-section__list {
    --gap-row: 0.75rem;

    @media screen and (min-width: 48rem) {
        justify-content: center;
        --gap-col: 1.5rem;
        grid-template-columns: repeat(3, minmax(0, 25rem));
    }
}

.testimonials-section__figure {
    padding-block: 1.75rem;
    padding-inline: 1.75rem;
    border-radius: 0.4rem;
    --flow-space: 1rem;
}

.testimonials-section__avatar {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}

.testimonials-section__caption {
    align-items: center;
    --gap-col: 1.25rem;
}

.testimonials-section__info {
    --flow-space: -0.25rem;
}

.testimonials-section__message {
    line-height: 1.3;

    &::before {
        content: "“ ";
    }

    &::after {
        content: " ”";
    }
}
