{
    "plugins": ["prettier-plugin-tailwindcss"],
    "printWidth": 100,
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "arrowParens": "avoid",
    "bracketSpacing": false,
    "objectWrap": "preserve",
    "tailwindStylesheet": "./app/app.css",
    "tailwindFunctions": ["clsx", "tw"]
}
